# Mengabaikan folder __pycache__
__pycache__/

# Mengabaikan folder utils/pyfolder/
utils/__pycache__/

# Mengabaikan file test
utils/test.py

# privasikan info login mysql user
utils/mysql_login_info.csv
